.tableWrapper {
    margin-top:40px;
}

.carEntry {
    border: 2px solid red;
}

.carHeader {
    height: 50px;
    border: 1px solid #888888;
    margin-top: 20px;
}

.car-details{
    margin-top: 50px;
}

.carDetailLink {
    display: inline-flex;
    margin: 5px;
    width: 300%;
}

.carRow {
    border: 1px solid #888888;
}

.noMatch {
    display: none;
}

.carImage {
    width: 200px;
}

@media (max-width: 768px) {
    .carDetailLink{
        display: inline;
    }
}